/* ======================================== Main section - Form =============================== */
#login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: calc(100vh - 100px);
    background: url(../assets/images/cool-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#login-page .main-section {
    background-color: rgba(0, 0, 0, 0.23);
    backdrop-filter: blur(3px);
    width: 80%;
    height: 80vh;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
    
#login-page .main-section .illustration {
    width: 50%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-page .main-section .illustration img {
    width: 70%;
}
    
#login-page form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 50%;
    border-radius: 10px;
}
#login-page form > div {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
} 

#login-page form .title {
    font-size: 30px;
    font-weight: 600;
}

#login-page form div label {
    display: inline-block;
    width: 100px;
}


#login-page form div input {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    color: white;
    padding: 5px 15px;
    font-size: 18px;
}


#login-page form div input[type = 'submit'], #login-page form div input[type = 'reset'] {
    width: 100px;
    height: 35px;
    background-color: #711eb5;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    cursor: pointer;
}

#login-page form div input[type = 'submit']:hover, #login-page form div input[type = 'reset']:hover {
    background-color: #c2c2c2;
}


/* =================================== end =============================== */


#error {
    position: absolute;
    top: 70px;
    background-color: #ff0000;
    height: 40px;
    width: fit-content;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 600;
    display: none;
}

a {
    text-decoration: none;
    color: rgb(1, 5, 255);
}