
/* =================================== search jobs page ===================================== */

main#search-jobs form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

main#search-jobs form div {
    width: 100%;
}

main#search-jobs form div label {
    display: inline-block;
    width: 150px;
}


main#search-jobs form div input {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    color: white;
    padding: 5px 15px;
}


main#search-jobs form div input[type = 'submit'], 
main#search-jobs form div input[type = 'reset'] {
    width: 100px;
    height: 35px;
    background-color: #f0f0f0;
    border-radius: 50px;
    color: black;
    border: 1px solid black;
    outline: black;
}

main#search-jobs form div input[type = 'submit']:hover, 
main#search-jobs form div input[type = 'reset']:hover {
    background-color: #c2c2c2;
    cursor: pointer;
 }

main#search-jobs .sort-section {
    background-color: #646464;
    margin: 20px 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    padding-left: 20px;
    height: 100px;
}


main#search-jobs .sort-section select {
    height: 30px;
    width: 200px;
}


main#search-jobs .sort-section input[type = 'submit'] {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: aqua;
    font-size: 15px;
    color: black;
    cursor: pointer;
}



main#search-jobs .result-section {
    background-color: #646464;
    margin: 0 50px;
    padding: 10px 20px;
}

main#search-jobs .result-section > .title {
    font-size: 20px;
}

main#search-jobs table {
    width: calc(100%) ;
    font-size: 20px;
    margin: 0;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

main#search-jobs table thead {
    height: 50px;
}


main#search-jobs table thead th {
    text-align: start;
    padding: 10px;
}

main#search-jobs table tr {
    height: 50px;
    color: black;
}

main#search-jobs table tr td {
    padding: 10px;
}



/* ========================================= end ========================================= */

