/* filters section */

.filters-section {
    width: calc(100vw - 250px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
    /* background-color: #f0f0f0; */
}

.filters-section > form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.filters-section div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.filters-section div label{
    width: 200px;
}

.filters-section div input[type='submit']{
    height: 35px;
    width: 100px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: serif;
    font-size: 18px;
    color: #fff;
    background-color: #5d28d7;
    cursor: pointer;
}

.filters-section div select{
    height: 35px;
    width: 100%;
    border-radius: 5px;
    padding: 0 10px;
    outline: none;

}


/* end */



/* table design */

.result-table-data {
    padding: 20px;
    height: 70vh;
    min-height: 50vh;
    overflow-y: auto;
}

.result-table-data table {
    width: 100%;
    border-collapse: collapse;
}

.result-table-data table thead tr {
    height: 40px;
    border: none;
    outline: none;
    background-color: #5d28d7;
    color: #fff;
}

.result-table-data table thead tr th {
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: start;
}

.result-table-data table tbody tr {
    height: 40px;
    border: none;
    outline: none;
}

.result-table-data table tbody tr:nth-child(even) {
    background-color: #f0f0f0;
}

.result-table-data table tbody tr td {
    padding: 0 10px;
    font-size: 18px;
    text-align: start;
}

.result-table-data table tbody tr td a {
    color: #000;
}

.result-table-data table tbody tr td .btns {
    background-color: var(--c);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* end */


.pagination {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

.pagination>div {
    display: flex;
    gap: 10px;
}

.pagination .display-pages>div {
    cursor: pointer;
    width: 15px;
    height: 15px;
}